
@{
    ViewBag.Title = "Faculty | IIT";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@model IEnumerable<IIT_Faculties.Models.Faculty>

<div class="container">
    <h2>All Faculties</h2>
    <p>@Html.ActionLink("Create New", "Create")</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.JoiningDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>

            <th></th>
        </tr>
        
        <tbody data-bind="foreach: facultyCollection">
            <tr>
                <td data-bind="text: Name"></td>

                <td data-bind="text: JoiningDate"></td>

                <td data-bind="text: Age"></td>

                <td>
                  @*  
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                  *@
                </td>

            </tr>
        </tbody>

    </table>
</div> 


